html {
	background-image: url(img/background.jpg); 
	padding: 0 5%;
}

body {
	padding: 2%;
	background-color: white;
} 

h1  {
	font-size: 22px;
	color: blue;
	border-top: 3px solid #e9ce93;
	border-bottom: 3px solid #e9ce93;
	text-align: center;
	padding: 5px;
}

h2,
h3  {
	font-size: 22px;
	color: blue;
	text-align: center;
	padding: 5px;
}

h4 {
	font-size: 24px;
}

strong {
	font-size: 22px;
}

div {
	background-color: #F1DFB9; 
	padding: 20px;
	text-align: center;
	margin-bottom: 40px;
}

a:hover {
	font-size: 22px;
}

em {
	color: #033767;
	font-size: 18px;
}

.header {
	padding: 2%;
}

.podchetkivanie {
	border-top: 3px solid #e9ce93;
	border-bottom: 3px solid #e9ce93;
}

.welcom {
	text-align: center;
	margin: 40px 0 40px;
	text-shadow: 2px 2px 0 #cccccc;
}

.ring {
	font-size: 20px;
}

.hmain {
	color: black;
	background-color: #F1DFB9; 
	padding: 30px;
	border: 3px solid blue;
}

.yes1 {
	font-size: 2px;
	color: white;
}

.menee {
	font-size:16px;
}

.rm6 {	
	margin-left: 0;
}

.rm7 {
	margin-right: 0;
}
.votmy {
	text-align: center;
}		
